@import './shared';

.events-container {
  overflow: hidden;
}

.events-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.event-list-item {
  width: 24%;
  float: left;
  margin: 0.5%;
  min-width: 110px;
}

.events-list .event-item {
  position: relative;
  width: 100%;
  display: block;
  box-sizing: border-box;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}

.event-item .event-thumb .event-title {
  box-sizing: border-box;
  position: absolute;
  bottom: 5px;
  background-color: black;
  background-color: rgba(1, 1, 1, 0.7);
  display: block;
  width: 100%;
  padding: 5px;
  color: white;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  bottom: 0;
}

.event-item .event-thumb .event-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.events-list .event-details {
  margin-left: 5px;
  padding-top: 5px;
  font-size: 12px;
  line-height: 20px;
}

.event-details .event-title {
  font-weight: 600;
}

.event-details .event-actions {
  overflow: hidden;
  text-align: right;
  margin-bottom: 5px;
  margin-top: 5px;
}

.event-details .event-actions .event-buy-button {
  @include buy-button();
}

.event-details .event-actions .event-buy-button:hover {
  background-color: #379f15;
}

.event-container {
  margin: 0 0 20px;
}
