body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #888;
  line-height: normal;
  background-color: #fff;
  width: 100%;
  text-rendering: optimizeLegibility;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

#wrapper .container {
  width: 80%;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  max-width: 1170px;
}

a {
  text-decoration: none;
}

a:hover {
  color: #00a8ff;
}

.main-nav {
  height: 50px;
  padding-top: 5px;
  width: 100%;
  z-index: 99;
  display: block;
  background-color: rgb(245, 245, 245);
  background-image: url('../assets/line_color.png');
  background-size: 100% 5px;
  box-shadow: none;
  list-style: none;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.navbar-logo {
  margin-left: 4px;
  float: left;
}

.navbar-logo img {
  width: auto;
  height: 42px;
  margin-right: 4px;
  margin-top: 4px;
  display: inline-block;
  float: left;
}

.main-menu {
  position: relative;
  list-style-type: none;
  font-size: 12px;
  z-index: 100;
  height: 50px;
  margin: 0px;
  float: right;
}

.main-menu li {
  float: left;
  position: relative;
  height: 50px;
  line-height: 50px;
  white-space: nowrap;
  cursor: pointer;
}

.main-menu li:hover {
  background-color: #dddddd;
}

.main-menu li a {
  color: #000000;
  padding: 0px 10px;
  display: block;
  text-decoration: none;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  padding-left: 0;
  padding-right: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer .container {
  width: 95%;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  max-width: 1170px;
}

.footer-block {
  clear: both;
  font-size: 90%;
  overflow: hidden;
  margin-bottom: 10px;
}

.footer-label {
  line-height: 1.5em;
  margin-right: 10px;
}

.footer-list {
  float: left;
}

.footer-list .links-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-list .links-list li {
  float: left;
  line-height: 1.5em;
  margin-right: 10px;
}

.footer-list .links-list.separated li {
  margin-right: 5px;
}

.footer-list .links-list.separated li + li:before {
  content: '|';
  margin-right: 5px;
}

.footer-list .links-list li a {
  color: #000;
}

.footer-list .links-list li a:hover {
  color: #00a8ff;
}

.bigbox {
  width: 100%;
  background-image: url('../assets/bigbox.jpg');
  margin-top: 54px;
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
  position: fixed\0;
  position: relative;
  display: table;
  min-height: 330px;
}

a:hover {
  cursor: pointer;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}
