@import './typeahead';

.searchbox {
  display: inline-block;
  min-height: 30px;
  margin: 20px 0 20px 0;
  width: 100%;
  position: relative;
}

.searchbox .searchbox-input {
  appearance: none;
  border: 1px solid #ccc;
  border-radius: 1px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.25);
  display: inline-block;
  font-size: 15px;
  height: 48px;
  overflow: hidden;
  padding-left: 15px;
  text-overflow: ellipsis;
  transition: all 0.2s ease-out;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.searchbox .searchbox-button {
  transition: all 0.2s ease-out;
  position: absolute;
  padding-left: 20px;
  padding-right: 20px;
  height: 48px;
  font-size: 1.5em;
  top: 0;
  right: 0;
  padding-left: 15px;
  background: none;
  border: 0;
  background-color: #0f82f5;
  color: white;
}

@media screen and (max-width: 600px) {
  .hidden-phone {
    display: none;
  }
}
