.trim {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sr-only,
.e2e-tag {
  display: none;
}

@mixin buy-button() {
  border-radius: 0;
  background-color: #80c500;
  background-image: none;
  border: none;
  color: #ffffff;
  font-size: 100%;
  padding: 3px 8px;
  transition: all 0.2s ease-out;
  text-shadow: none;
  white-space: nowrap;
}
