@import './shared';

.tickets-container {
  margin-bottom: 20px;
}

.tickets-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ticket-list-item {
  border: 1px solid #f5f5f5;
  display: block;
  padding: 5px;
  margin: 0 0 10px 0;
}

.ticket-list-item .ticket-event {
  display: table;
  width: 100%;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.ticket-list-item .ticket-event.disabled {
  background: lightgray;
}

.ticket-list-item .ticket-event:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}

.ticket-event .event-image {
  display: table-cell;
  width: 100px;
  height: 56px; //give 16:9 aspect ratio
  margin: 0;
}

.ticket-event .event-info {
  display: table-cell;
  width: 100%;
  padding-left: 10px;
  vertical-align: top;
  font-size: 90%;
  line-height: 2.3em;
  color: gray;
}

.ticket-event .event-info .event-title {
  margin: 0;
  font-size: 1.5em;
  display: block;
  margin-right: 30px;
  font-weight: 300;
  color: black;
  width: 63vw;
}

.ticket-event .event-info .datetime:after {
  content: '-';
  margin: 0 5px;
}

.ticket-list-item .ticket-item {
  border-top: 1px solid #f5f5f5;
  margin-top: 5px;
}

.ticket-list-item .ticket-item .ticket-actions {
  display: table;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
}

.ticket-actions .action-item {
  display: table-cell;
}

.ticket-actions .action-item a {
  background: #f5f5f5;
  display: block;
  margin: 5px;
  padding: 5px;
  color: #888;
  border: 1px solid transparent;
}

.ticket-actions .action-item a:hover {
  background-color: #eee;
  border-color: #ddd;
}

.tickets-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.tickets-table thead {
  border-bottom: 1px solid #888;
}

.tickets-table th {
  font-size: 9px;
  text-transform: uppercase;
  vertical-align: top;
  padding: 5px;
  color: black;
  font-weight: 600;
}

.tickets-table td {
  padding: 10px;
  text-align: center;
}

.ticket-row {
  border-bottom: 1px solid #ddd;
}

.ticket-row:last-child {
  border-bottom: none;
}

.ticket-row:hover {
  background-color: #fafafa;
}

.ticket-row .td-location {
  text-align: left;
}

.ticket-row .td-location .ticket-name {
  font-weight: bold;
}

.ticket-row .td-location .ticket-location {
  display: block;
}

.ticket-row .td-location .ticket-location .seat {
  display: block;
  font-size: 12px;
}

.ticket-row .td-action .ticket-buy-button {
  @include buy-button();
}
