.dropdown-item {
  padding: 0;
  width: 95%;
  margin-left: 10px;
  margin-top: -5px;
  border-width: 0px;
}

.tt-suggestion {
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 0.8rem;
  line-height: 1rem;
}

.tt-hint {
  opacity: 0.5;
  font-size: 0.7rem;
  color: gray;
  background: #ffffff;
}

.tt-suggestion .suggestion-wrapper {
  padding: 5px 12px;
}

.tt-suggestion .suggestion-info {
  display: block;
  font-size: 0.7rem;
  margin: 5px 0px 2px 0px;
  width: 68vw;
}

.tt-suggestion:not(:hover) {
  background: white;
}

.tt-suggestion:hover {
  background-color: #2196f3;
  color: #ffffff;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.tt-suggestion:hover .suggestion-info {
  color: #ffffff;
}
.tt-cursor {
  background-color: #f4f4f4;
  color: black;
}

.tt-cursor span {
  color: black;
}

.tt-dropdown-menu {
  background-color: #ffffff;
  width: 100%;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

ngb-typeahead-window {
  position: absolute;
  z-index: 1;
}

.tt-dataset-items {
  border: 0px solid #36474f;
  border-top: none;
}
.tt-highlight {
  color: #ffffff;
}

.tt-input {
  padding-left: 5px;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  font-size: 0.7rem;
  border: 1px solid #fff;
  -webkit-appearance: none;
}
