<div id="wrapper">
  <div class="container">

    <app-searchbox></app-searchbox>

    <!-- EVENTS LIST -->
    <div class="events-container">
      <ul class="events-list">
        <!-- ITEMS -->
        <li *ngFor="let event of events" class="event-list-item">
          <div class="event-item">
            <a class="event-thumb" routerLink="/event/{{event.id}}">
              <div class="event-title trim" title="{{ event.title | titlecase }}">
                <strong>{{ event.title | titlecase }}</strong>
              </div>
              <img class="event-image" src="{{event.thumbnailImageUrl}}" alt="Event Name">
            </a>
          </div>
          <div class="event-details">
            <div class="event-venue">
              <div itemprop="name" class="trim" title="{{event.venueName}}">{{event.venueName}}</div>
            </div>
            <div class="event-location">
              <span>
                <i class="fa fa-map-marker"></i> {{event.city}}</span>
            </div>
            <time class="datetime" datetime="event.date">
              <div class="event-date">
                <i class="fa fa-calendar"></i>
                {{ event.date | date: "yyyy-MM-dd HH:mm" }}
              </div>
            </time>
            <div class="event-actions">
              <a routerLink="/event/{{event.id}}" class="event-buy-button">Buy</a>
            </div>
          </div>
        </li>
        <!-- /ITEMS -->
      </ul>
    </div>
    <!-- /EVENTS LIST -->

  </div>
</div>

<!-- TAG TO EASE PAGE IDENTIFICATION FOR E2E TESTS -->
<span id="category" class="e2e-tag"></span>