<ng-template #rt let-r="result" let-t="term">
  <div class="tt-suggestion">
    <div class="suggestion-wrapper category">
      <div [innerHTML]="strongifyTerm(t,r.name)"></div>
      <div class="suggestion-info trim" title="{{r.description}}">{{r.description}}</div>
    </div>
  </div>
</ng-template>
<form action="#" method="get" class="searchbox">
  <input name="query" autocomplete="off" class="searchbox-input" placeholder="Search for an event, city, artist or team" type="text"
    value="" [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter" (selectItem)="goTo($event.item)" #searchterm/>

  <button type="submit" class="searchbox-button" (click)="findAndGoTo(searchterm.value)">
    <i class="fa fa-search visible-phone"></i>
    <span class="hidden-phone">Search</span>
  </button>
</form>