<!-- HEADER -->
<header>
    <div class="main-nav">
        <a routerLink="/home" title="Frontend Test | Ticketbis" class="navbar-logo">
            <img src="assets/logotipo.png" alt="Frontend Test | Ticketbis">
            <img src="assets/logocab.png" alt="Frontend Test | Ticketbis">
        </a>
        <!-- MAIN MENU -->
        <ul class="main-menu">
            <li>
                <a routerLink="/home" title="Help">Help</a>
            </li>
            <li>
                <a routerLink="/account" href="#" title="Login" id="Login">Login</a>
            </li>
        </ul>
        <!-- /MAIN MENU -->
    </div>
</header>
<!-- /HEADER -->
<router-outlet></router-outlet>
<!-- /BODY CONTENT -->