<div id="wrapper">
  <div class="container">
    <!-- EVENT PAGE -->
    <h2 class="trim" title="{{ eventTitle | titlecase }}">{{ eventTitle | titlecase }}</h2>
    <div class="event-container">
      <div class="tickets-list">
        <table class="tickets-table">
          <thead>
            <tr>
              <th class="td-location">Localidad</th>
              <th class="td-quantity">Disponibles</th>
              <th class="td-price">Precio por entrada</th>
              <th class="td-action"></th>
            </tr>
          </thead>
          <tbody>
            <!-- TICKET ITEM -->
            <tr class="ticket-row" *ngFor="let ticket of tickets">
              <td class="td-location">
                <span class="ticket-name">Ticket name</span>
                <span class="ticket-location">
                  <span class="seat">Sector: ###</span>
                  <span class="seat">Row: ##</span>
                </span>
              </td>
              <td class="td-quantity">{{ ticket.quantity }}</td>
              <td class="td-price">
                <span>{{ ticket.unit_price }} €</span>
              </td>`
              <td class="td-action">
                <a href="#" class="ticket-buy-button">
                  <span>Buy</span>
                </a>
              </td>
            </tr>
            <!-- /TICKET ITEM -->
          </tbody>
        </table>
      </div>
    </div>
    <!-- /EVENT PAGE -->
  </div>
</div>


<!-- TAG TO EASE PAGE IDENTIFICATION FOR E2E TESTS -->
<span id="event" class="e2e-tag"></span>