<div id="wrapper" class="bigbox">
  <div class="container">
    <!-- SEARCH BOX -->
    <app-searchbox></app-searchbox>
    <!-- /SEARCH BOX -->
  </div>
</div>

<!-- TAG TO EASE PAGE IDENTIFICATION FOR E2E TESTS -->
<span id="home" class="e2e-tag"></span>