<div id="wrapper">
  <div class="container">

    <!-- SEARCH BOX -->
    <app-searchbox></app-searchbox>
    <!-- /SEARCH BOX -->

    <!-- TICKETS LIST -->
    <h2>Tickets</h2>
    <div class="tickets-container">
      <ul class="tickets-list">
        <!-- TICKET LIST ITEM -->
        <li class="ticket-list-item" *ngFor="let ticket of tickets">
          <div class="ticket-event" [class.disabled]="!ticket.status">
            <div>
              <img class="event-image" src="{{ getEventImage(ticket.eventId) }}">
            </div>
            <div class="event-info">
              <h4 class="event-title trim">{{ getEventName(ticket.eventId) }}</h4>
              <time class="datetime" datetime="getEventDate(ticket.eventId)">
                {{ getEventDate(ticket.eventId)}}
              </time>
              <span class="location">{{ getEventLocation(ticket.eventId) }}</span>
            </div>
          </div>
          <div class="ticket-item">
            <ul class="ticket-actions">
              <li class="action-item">
                <a (click)="cloneTicket(ticket)">
                  <i class="fa fa-files-o"></i>
                  <span>Duplicate</span>
                </a>
              </li>
              <li class="action-item">
                <a (click)="removeTicket(ticket)">
                  <i class="fa fa-trash"></i>
                  <span>Remove</span>
                </a>
              </li>
              <li class="action-item" [class.disabled]="ticket.status">
                <a (click)="changeStatus(ticket)">
                  <i class="fa fa-eye"></i>
                  <span>Activate</span>
                </a>
              </li>
              <li class="action-item" [class.disabled]="!ticket.status">
                <a (click)="changeStatus(ticket)">
                  <i class="fa fa-eye-slash"></i>
                  <span>Deactivate</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <!-- /TICKET LIST ITEM -->
      </ul>
    </div>
    <!-- /TICKETS LIST -->
  </div>
</div>


<!-- TAG TO EASE PAGE IDENTIFICATION FOR E2E TESTS -->
<span id="account" class="e2e-tag"></span>